<div class="container container-sm">
  <form [formGroup]="ticketForm">
    <div class="my-2 card mt-5">
      <div class="card-body">
        <h5 class="card-title">Locations</h5>
        <div class="row">
          <div class="col-sm">
            <div class="mb-2">
              <label id="origin-label" for="origin-input" class="form-label">Origin</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  list="origin-options"
                  id="origin-input"
                  placeholder="Location" formControlName="inbound"
                  aria-describedby="origin-label"
                />
                <datalist id="origin-options"></datalist>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="mb-2">
              <label
                id="destination-label"
                for="destination-input"
                class="form-label">Destination</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  list="destination-options"
                  id="destination-input"
                  placeholder="Location" formControlName="outbound"
                  aria-describedby="destination-label"
                />
                <datalist id="destination-options"></datalist>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mb-2 col">
        <div class="h-100 card">
          <div class="card-body">
            <h5 class="card-title">Dates</h5>
            <div class="mb-2">
              <label
                id="flight-type-label"
                for="flight-type-select"
                class="form-label">Ticket Type</label>
              <select
                id="flight-type-select"
                class="form-select" formControlName="ticket_type"
                aria-describedby="flight-type-label">
                <option value="one-way">One-way</option>
                <option value="round-trip">Round-trip</option>
              </select>
            </div>
            <div id="departure-date" class="mb-2">
              <label
                id="departure-date-label"
                for="departure-date-input"
                class="form-label">Departure date</label>
              <div class="input-group">
                <input
                  type="date"
                  class="form-control" formControlName="from_date"
                  id="departure-date-input"
                  aria-describedby="departure-date-label"
                />
              </div>
            </div>
            <div id="return-date" class="mb-2">
              <label
                id="return-date-label"
                for="return-date-input"
                class="form-label">Return date</label>
              <div class="input-group">
                <input
                  type="date"
                  class="form-control"
                  id="return-date-input" formControlName="to_date"
                  aria-describedby="return-date-label"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2 col">
        <div class="h-100 card">
          <div class="card-body">
            <h5 class="card-title">Details</h5>
            <div class="mb-2">
              <div class="input-group">
                <label for="seat-number-input" class="input-group-text">Seat Number</label>
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="seat-number-input" formControlName="seat_number"
                  aria-describedby="Seat_Number"
                />
              </div>
            </div>
            <div class="mb-2">
              <div class="input-group">
                <label for="price-input" class="input-group-text">Price</label>
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="price-input" formControlName="price"
                  aria-describedby="Price"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


</div>
