<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <form class="row g-3" [formGroup]="ticketForm">
        <div class="col-md-6">
          <label for="inputInbound" class="form-label">Inbound</label>
          <input type="text" class="form-control" id="inputInbound" formControlName="inbound">
        </div>
        <div class="col-md-6">
          <label for="inputOutbound" class="form-label">Outbound</label>
          <input type="text" class="form-control" id="inputOutbound" formControlName="outbound">
        </div>
        <div class="col-12">
          <label for="ticketType" class="form-label">Ticket Type</label>
          <select id="ticketType" class="form-select" formControlName="ticket_type">
            <option selected>Choose...</option>
            <option value="option1">option1</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="fromDate" class="form-label">From Date</label>
          <input type="text" class="form-control" id="fromDate" formControlName="from_date">
        </div>
        <div class="col-md-4">
          <label for="toDate" class="form-label">To Date</label>
          <input type="text" class="form-control" id="toDate" formControlName="to_date">
        </div>
        <div class="col-md-6">
          <label for="seatNumber" class="form-label">Seat Number</label>
          <input type="text" class="form-control" id="seatNumber" formControlName="seat_number">
        </div>
        <div class="col-md-4">
          <label for="price" class="form-label">Price</label>
          <input type="text" class="form-control" id="price" formControlName="price">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>

    </div>

  </div>

</div>
